@tailwind base;
@tailwind components;
@tailwind utilities;

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #24053e;
  border-radius: 0 0 100% 100% / 0 0 30% 30%;
  transform: scaleX(1.5);
}

.features::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FCF8FF;
  border-radius: 0 0 100% 100% / 0 0 30% 30%;
  transform: scaleX(1.5);
}
